.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 68px;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0;
  border: 1px solid $color-braun;
  color: $color-white;
  text-decoration: none;
  background-color: $color-braun;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.3;
  }
}
