.catalog-filter__button {
  display: none;
}

.catalog-filter__close-form-button {
  display: none;
}

.catalog-filter__form .catalog-filter__form-item {
  position: relative;
  padding-top: 7px;
  padding-left: calc(20% - 12px - 1vw);
  border: 1px solid $color-braun;
}

.catalog-filter__form h3 {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter__form .catalog-filter__form-item-list {
  @include reset-list-style;
  display: none;
  margin-top: 19px;
  margin-left: 34px;
  margin-bottom: 25px;
}

.catalog-filter__form li {
  margin-top: 5px;
}

.catalog-filter__form label {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  &::before {
    @include pseudo-clases;
    top: 3px;
    left: -24px;
    width: 14px;
    height: 15px;
    border: 1px solid $color-braun;
    background-color: transparent;
  }

  &:hover::before {
    border-color: $color-grey;
  }

  &:active,
  &:active::before {
    opacity: 30%;
  }
}

.catalog-filter__form input:checked ~ label::before {
  background-color: $color-braun;
}

.catalog-filter__form input:focus + label::before {
  border-color: $color-black;
}

.catalog-filter__form .catalog-filter__form-item-toggle {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 64px;
  top: 0;
  left: 0;
  padding: 0;
  font-family: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &::before {
    @include pseudo-clases;
    width: 17px;
    height: 20px;
    top: 22px;
    right: 23px;
    background-image: url("../img/icon-accordion-arrow.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
    transform: rotate(180deg);
  }
}

.catalog-filter__form-item--nojs .catalog-filter__form-item-toggle {
  display: none;
}

.catalog-filter__form-item--nojs .catalog-filter__form-item-list,
.catalog-filter__form-item--open .catalog-filter__form-item-list {
  display: block;
}

.catalog-filter__form-item--open .catalog-filter__form-item-toggle::before {
  transform: rotate(360deg);
}

.catalog-filter__form-submit-button {
  margin-top: 35px;
  color: $color-white;
}

.catalog-filter__form-reset-button {
  margin-top: 25px;
  color: $color-dark-grey;
  background-color: transparent;
}

.catalog-filter__form div[data-name="form-range"] {
  position: relative;
  margin-left: calc(4vw - 4px);
  margin-top: 26px;
  margin-bottom: 49px;
  width: 48%;
  height: 1px;
  background-color: $color-braun;

  &::before {
    @include pseudo-clases;
    width: 185%;
    height: 1px;
    top: 0;
    left: calc(18% + 15px - 6vw);
    background-color: $color-braun;
    opacity: 0.5;
  }
}

div[data-name="form-range"] button {
  position: absolute;
  width: 16px;
  height: 16px;
  top: -7px;
  border-radius: 50%;
  border: 1px solid $color-braun;
  background-color: $color-braun;
}

div[data-name="form-range"] button:first-of-type {
  left: -7px;
}

div[data-name="form-range"] button:last-of-type {
  right: -8px;
}

div[data-name="form-range"] > div {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(29% + 23px + 6vw);
  min-height: 30px;
  top: 7px;
  left: -11px;
}

div[data-name="form-range"] span {
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0;
  color: $color-dark-grey;
}

@media (max-width: $tablet-max-width) {
  .catalog-filter__button {
    display: flex;
  }

  .catalog-filter__form {
    display: none;
    position: fixed;
    flex-direction: column;
    width: 57.7vw;
    height: 89.5vh;
    top: 27px;
    left: 21.1vw;
    background-color: $color-white;
    overflow-y: scroll;
    z-index: 2;
  }

  .catalog-filter__form.catalog-filter__form--opened {
    display: flex;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .catalog-filter__close-form-button {
    position: fixed;
    display: flex;
    width: 32px;
    height: 32px;
    top: 11px;
    right: 19.1vw;
    border: none;
    border-radius: 50%;
    background-color: $color-black;
    z-index: 3;
    cursor: pointer;

    &:hover,
    &:focus {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.3;
    }

    &::before,
    &::after {
      @include pseudo-clases;
      width: 18px;
      height: 2px;
      top: 14px;
      left: 7px;
      background-color: $color-white;
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(135deg);
    }
  }

  .catalog-filter__form .catalog-filter__form-item {
    padding-top: 22px;
    padding-left: calc(14% - 12px - 1vw);
    padding-bottom: 34px;
    border: none;
    border-bottom: 1px solid $color-braun;
  }

  .catalog-filter__form .catalog-filter__form-item:first-child {
    padding-top: 25px;
  }

  .catalog-filter__form-item:first-child h3 {
    margin-top: 10px;
  }

  .catalog-filter__form h3 {
    margin-top: 12px;
    margin-bottom: -1px;
    font-size: 18px;
    line-height: 24px;
  }

  .catalog-filter__form .catalog-filter__form-item-list {
    margin-top: 22px;
    margin-left: 39px;
    margin-bottom: 0;
  }

  .catalog-filter__form li {
    margin-top: 13px;
  }

  .catalog-filter__form li:first-child {
    margin-top: 0;
  }

  .catalog-filter__form label {
    font-size: 16px;
    line-height: 21px;

    &::before {
      top: 2px;
      left: -30px;
      width: 18px;
      height: 18px;
    }
  }

  .catalog-filter__form .catalog-filter__form-item-toggle {
    height: 92px;

    &::before {
      width: 23px;
      height: 23px;
      top: 35px;
      right: 40px;
    }
  }

  .catalog-filter__form-submit-button,
  .catalog-filter__form-reset-button {
    margin-left: 5.2vw;
    width: 47vw;
  }

  .catalog-filter__form-submit-button {
    margin-top: 39px;
  }

  .catalog-filter__form-reset-button {
    margin-top: 27px;
    margin-bottom: 35px;
  }

  .catalog-filter__form div[data-name="form-range"] {
    margin-left: calc(8.5vw - 4px);
    margin-top: 33px;
    margin-bottom: 37px;
    width: 46%;

    &::before {
      width: 165%;
      left: calc(18% + 22px - 14vw);
    }
  }

  div[data-name="form-range"] button:last-of-type {
    right: -2px;
  }

  div[data-name="form-range"] > div {
    width: calc(29% + 23px + 17vw);
    top: 12px;
    left: -14px;
  }
}

@media (max-width: $mobile-max-width) {
  .catalog-filter__form {
    width: 84.3vw;
    height: 84.5vh;
    top: 78px;
    left: 8vw;
  }

  .catalog-filter__close-form-button {
    top: 61px;
    right: 5vw;
  }

  .catalog-filter__form .catalog-filter__form-item {
    padding-left: calc(14% - 14px - 1vw);
    padding-bottom: 25px;
  }

  .catalog-filter__form h3 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .catalog-filter__form .catalog-filter__form-item-toggle {
    height: 72px;

    &::before {
      top: 23px;
      right: 18px;
    }
  }

  .catalog-filter__form-submit-button,
  .catalog-filter__form-reset-button {
    margin-left: 6.2vw;
    width: 72vw;
  }

  .catalog-filter__form-submit-button {
    margin-top: 31px;
  }

  .catalog-filter__form-reset-button {
    margin-top: 19px;
    margin-bottom: 30px;
  }

  .catalog-filter__form div[data-name="form-range"] {
    margin-left: calc(13vw - 4px);
    margin-bottom: 34px;
    width: 58%;

    &::before {
      width: 172%;
      left: calc(18% + 22px - 30vw);
    }
  }

  div[data-name="form-range"] > div {
    width: calc(29% + 25px + 32vw);
  }
}
