$mobile-max-width: 767px;
$tablet-max-width: 1023px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$color-white: #ffffff;
$color-black: #000000;
$color-dark-grey: #1d1613;
$color-grey: #9b9997;
$color-braun: #a87b62;
$background-color: #e5e5e5;
$background-grey-color: #f0eae4;
